

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
	 
/* body */ 
body {
	background: #fdf7eb;
	font-size: 100%;
}

/* type */
h1, h2, h3, h4, h5, h6 {
	margin: 10px 0;
	font-weight: 300;
}
h1 {
	font-size: 24px;
	font-weight: 400;
}
h2 {
	font-size: 18px;
}
.alpha {
	margin-bottom: 1px;
}
.beta {
	font-weight: 400;
	font-size: 18px;
	text-transform: uppercase;
}
.delta {
	text-transform: uppercase;
	font-weight: 200;
	font-size: 13px;
	color: #666;
	margin-bottom: 25px;
}
.gamma {
	font-size: 32px;
	font-weight: 400;
}
.gamma span {
	font-size: 14px;
}
.epsilon {
	font-size: 10px;
	color: #aaa;
	text-transform: uppercase;
	display: block;
	text-align: center;
	margin-top: 0;
}
.zeta {
	font-size: 15px;
	color: #333;
	text-transform: uppercase;
	display: block;
	margin-top: 0;
	font-weight: 600;
}
/* forms */
input[type="checkbox"],
input[type="radio"],
label,
.label-wrap {
	display: inline-block;
	vertical-align: top;
	line-height: 1.3;
	font-size: 15px;
}
/* containers */
.container, 
.navbar-static-top .container, 
.navbar-fixed-top .container, 
.navbar-fixed-bottom .container {
	width: 96%;
	max-width: 1350px;
	padding: 0 2%;
}

/* Top branding and nav bar */
.navbar-inverse .navbar-inner {
	background: rgba(255, 230, 205,.9);
	border: none;
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
	filter: none;
}
.navbar .brand {
	padding: 0;
	margin: 6px 0;
	height: 47px;
	width: 97px;
	background: url('/img/logo.png') no-repeat left top;
	color: transparent;
	text-indent: -999em;
}
.navbar .nav {

}
.navbar .nav>li>a {
	padding: 11px 15px 11px;
	border-left: 1px solid rgba(0,0,0,.12);
	box-shadow: inset 1px 0 0 #fff;
	color: #555;
}
.navbar .nav>li>a.nav-create {
	background: url('/img/icon-create.png') no-repeat center center;
	width: 27px;
	height: 37px;
}
.navbar .nav>li>a.nav-recipes {
	background: url('/img/icon-recipes.png') no-repeat center center;
	width: 45px;
	height: 38px;
}
.navbar .nav>li>a:hover,
.navbar .nav>li>a:focus {
	color: #555;
	background-color: #fbeede;
}
.navbar .nav .dropdown > a {
	background: #fbeede url('/img/arrow-down.png') no-repeat 95% center;
	padding-right: 30px;
	border-right: 1px solid rgba(0,0,0,.12);
}
.navbar .nav .dropdown .profile-avatar {
	margin-right: 10px;
}
.navbar-inverse .nav li.dropdown.open>.dropdown-toggle, .navbar-inverse .nav li.dropdown.active>.dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active>.dropdown-toggle {
	color: #555;
	background-color: #f8e2c7;
}
.navbar-form {
	padding: 7px 15px 0;
}
.navbar-form input {
	background-image: url('/img/icon-search.png');
	background-repeat: no-repeat;
	background-position: 98% center;
	padding: 7px;
}

/* Buttons */
.btn, .btn-primary {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #fd5631;
	background-image: -moz-linear-gradient(top,#ff7c37,#ff2422);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#ff7c37),to(#ff2422));
	background-image: -webkit-linear-gradient(top,#ff7c37,#ff2422);
	background-image: -o-linear-gradient(top,#ff7c37,#ff2422);
	background-image: linear-gradient(to bottom,#ff7c37,#ff2422);
	background-repeat: repeat-x;
	border-color: #fd5631;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0044cc',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn:hover, .btn-primary:hover,
.btn:focus, .btn-primary:focus,
.btn:active, .btn-primary:active,
.btn.active, .btn-primary.active,
.btn.disabled, .btn-primary.disabled,
.btn[disabled], .btn-primary[disabled] {
  color: #ffffff;
  background-color: #ff2422;
  *background-color: #ff2422;
}
.btn.add {
	font-size: 18px;
	font-weight: 500;
	padding: 10px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	padding-left: 45px;
	max-width: 200px;
	float: right;
	margin-top: -7px;
}
.btn.add span {
	background: url('/img/icon-recipes.png') no-repeat left center;
	background-size: 90%;
	width: 40px;
	height: 30px;
	display: inline-block;
	position: absolute;
	top: 5px;
	left:10px;
}

/* Front page */
.front-page-intro {
	position: relative;
	font-size: 48px;
	font-weight: 900;
	color: #F85732;
	text-shadow: 0 2px 1px rgba(255,255,255,.9);
	margin-bottom: 20px;
}
.intro-search {
	margin-top: 150px;
}
.intro-search p {
	text-shadow: 0 1px 0 rgba(255,255,255,.8);
	font-size: 18px;
}
.intro-search-form {
	position: relative;
	margin-top: 50px;
}
input[type="search"].intro-search-input {
	padding: 27px;
	font-size: 16px;
}
button[type="submit"].intro-search-button {
	position: absolute;
	right: 0;
	top: -2px;
	width: 70px;
	height: 59px;
	background: #FE9470 url('/img/search-button.png') no-repeat right top;
	border: none;
	border-top: 1px solid rgba(255,255,255,.7);
	float: right;
}
/* Hero unit */
.hero-unit {
	background: #fefcf9;
}

/* Front/home Page */
body.front {
	background: url('/img/home-background.jpg') no-repeat center bottom fixed;
	background-size: cover;
}

/* Search Results Page */
a span {
	color: #666;
}
.search-filters {
	margin-left: 0;
	padding-left: 30px;
	background: #fff;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;	
}
.search-filters-body {
	padding: 20px 0;
}
.search-filters h2 {
	background: #fdf7eb;
	margin-top: 0;
	padding: 10px 30px;
	margin-left: -30px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.label-wrap {
	margin-top: 8px;
	display: block;
}
@media (min-width: 1260px) {
	.label-wrap {
		width: 45%;
		display: inline-block;
	}
}

/* Recipe Detail */
.recipe-detail {
	margin-top: 60px;
}
.recipe-detail-title {
	margin-top: 15px;
	font-size: 28px;
	font-weight: 900;
}
.recipe-detail-tags {
	font-style: italic;
}
.recipe-detail-img {
	width: 100%;
}
.ready-time-wrap {
	position: relative;
	border-right: 1px solid #ccc;
	box-shadow: 1px 0 1px #fff;
}
.servings-wrap {
	position: relative;
}
.servings-wrap .inner-left {
	margin-right: 50px;
}
.servings-wrap .plus-minus {
	position: absolute;
	top: -10px;
	right: 0;	
}
.increment-up,
.increment-down {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-top: 13px;
	width: 47px;
	height: 47px;
	background: #eee;
	display: block;
	text-align: center;
	border: 1px solid #ccc;
	border-bottom: none;
	font-size: 22px;
	box-shadow: inset 0 0 1px #fff;
}
.increment-up:hover,
.increment-down:hover {
	background: #e9e9e9;
	color: #000;
	cursor: pointer;
}
.increment-up {
	border-top: none;
}
.recipe-by-wrap {
	
}
.recipe-by-wrap .profile-avatar {
	margin-top: -20px;
	margin-bottom: 20px;
}
.recipe-by-wrap .profile-avatar .profile-name {
	margin-left: 20px;
}
.rating-large {

}
.rating-star {
	text-indent: -999em;
	background: url('/img/star-sprite.png') no-repeat right top;
	display: inline-block;
	width: 20px;
	height: 20px;
}
.rating-star:hover,
.rating-star.active {
	cursor: pointer;
	background-position: left top;
}
.recipe-detail-steps {

}
.recipe-detail-step {
	padding: 10px;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.recipe-detail-step:nth-child(3n+3) {
	border-right: none;
}
.recipe-detail-steps ol {
	list-style-type: none;
	margin: 0;
}
.recipe-detail-step-title {
	width: 25%;
	float: left;
	text-align: center;
	color: #999;
	text-transform: uppercase;
	font-size: 13px;
}
.recipe-detail-step-img {
	width: 75%;
	float: right;
	margin-bottom: 20px;
}
.recipe-detail-step-directions {
	margin-bottom: 20px;
}
.recipe-detail-step-title span {
	display: block;
	margin-top: -15px;
	font-weight: 900;
	font-size: 22px;
	color: #333;
}
.recipe-detail-step:nth-child(3n+4) {
	margin-left: 0;
	clear: left;
}
/* Social Share */
.share-wrap {
	display: inline-block;
	margin: 0 auto;
	padding: 30px 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: #fefcf9;
	width: 100%;
	text-align: center;
}
.share-wrap ul {
	margin: 0;
}
.share-wrap ul li {
	display: inline-block;
	margin: 0 6px;
}
.share-link {
	-webkit-transition: all .2s ease-in-out;
	display: block;
	width: 30px;
	height: 27px;
	background: url('/img/share-sprite.png') no-repeat left top;
	opacity: 0.8;
}
.share-link:hover {
	opacity: 1;
}
.share-link-facebook{
	width: 18px;
}
.share-link-twitter {
	background-position: -37px 1px;
}
.share-link-gplus {
	background-position: -88px top;
	width: 22px;
}
.share-link-pinterest {
	background-position: -136px top;
	width: 24px;
}
.share-link-mail {
	background-position: -176px 3px;
}

/* Accordion */
.accordion-group {
	margin-bottom: 0;
}
.accordion-inner {
	background: #fff;
	color: #888;
}
.accordion-inner ul {
	background: #fff;
	color: #888;
	list-style-type: none;
	margin: 0;
}
.accordion-inner ul li {
	padding: 5px 20px;
}
.accordion-toggle {
	background: #F7F7F7;
}

/* Tabs */
.tabs-wrap {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0,0,0,.2);
	padding-top: 10px;
}
.nav-tabs {
	margin-left: 10px;
	margin-bottom: -1px;
}
.nav-tabs>li>a {
	color: #999;
	border-color: #ccc;
	border-bottom: none;
}
.nav-tabs>li>a:hover {
	color: #333;
	border-color: #ccc;
}
.nav-tabs>li.active>a {
	color: #333;
	border-color: #ccc;
	background: #EFEFEF;
	border-bottom: none;
}
.nav-tabs>li.active>a:hover {
	color: #333;
	border-color: #ccc;
	background: #EFEFEF;
	border-bottom: none;
}
.tab-content {
	padding: 0 10px 10px;
	background: #EFEFEF;
}
/* Recipe Module */
.recipe-module {
	-webkit-transition: all .2s ease-in-out;
	padding: 0;
	margin-bottom: 25px;
	background: #fff;
	box-shadow: 0 0 1px rgba(0,0,0,.8);
	display: inline-block;
}
.span3:nth-child(4n+5) {
	margin-left: 0;
	clear: left;
}
.recipe-module:hover {
	box-shadow: 0 0 12px rgba(0,0,0,.6);
}
.recipe-module p {
	padding: 0 15px;
	line-height: 16px;
}
.recipe-module-header {
	position: relative;
}
.recipe-module-img {
	background: #ccc;
	height: auto;
	max-width: 100%;	
}
.recipe-module-title {
	position: absolute;
	bottom: 0;
	padding: 10px 15px;
	margin: 0;
	color: #fff;
	background: rgba(0,0,0,.6);
	line-height: 24px;
}
.recipe-module-tags {
	margin-top: 10px;
}
.rating {
	background: url('/img/rating-stars.png') no-repeat left center;
	width: 64px;
	height: 13px;
	display: inline-block;
}
.source {
	float: right;
	color: #999;
	font-style: italic;
	font-size: 12px;
}
@media (max-width: 1080px) {
	.span3.recipe-module {
		width: 30%;
	}
	.span3:nth-child(3n+4) {
		margin-left: 0;
		clear: left;
	}
	.span3:nth-child(4n+5) {
		margin-left: 2.564102564102564%;
		clear: none;
	}
}
@media (max-width: 767px) {
	.span3.recipe-module {
		float: left;
		margin-left: 2.564102564102564%;
	}	
	.span3:nth-child(3n+4) {
		margin-left: 0;
		clear: left;
	}
	.span3:nth-child(4n+5) {
		margin-left: 2.564102564102564%;
		clear: none;
	}
}
@media (max-width: 600px) {
	.span3.recipe-module {
		float: left;
		width: 40%;
		margin-left: 2.564102564102564%;
	}
	.span3:nth-child(3n+4) {
		margin-left: 2.564102564102564%;
		clear: none;
	}
	.span3:nth-child(2n+3) {
		margin-left: 0;
		clear: left;
	}
}
@media (max-width: 500px) {
	body {
		font-size: 90%;
	}
	.span3.recipe-module {
		float: left;
		width: 47%;
		margin-left: 2.564102564102564%;
	}
	.span3:nth-child(3n+4) {
		margin-left: 2.564102564102564%;
		clear: none;
	}
	.span3:nth-child(2n+3) {
		margin-left: 0;
		clear: left;
	}
	.recipe-module-title {
		background: rgba(0,0,0,.6);
		line-height: 16px;
		font-size: 14px;
	}
}
/* footer */
#site-footer {
	color: #fff;
	background: rgba(0,0,0,.7);
	position: fixed;
	width: 100%;
	bottom: 0;
}
#site-footer p {
	padding: 0;
	margin: 0;
	border-left: 1px solid #333;
	box-shadow: inset 1px 0 0 rgba(255,255,255,.1);
	display: inline-block;
}
#site-footer p .footer-menu {
	display: block;
	padding: 12px;
	margin: 0;
	color: #ddd;
	border-right: 1px solid #333;
	box-shadow: inset -1px 0 0 rgba(255,255,255,.1);
	background: rgba(0,0,0,.2);
}
.social-links {
	display: inline-block;
	float: right;
	margin: 4px 0;
}
.social-links ul {
	margin-bottom: 0;
}
.social-links ul li {
	display: inline-block;
	margin-left: 3px;
}
.social-link {
	-webkit-transition: all .2s ease-in-out;
	display: block;
	width: 40px;
	height: 38px;
	background: url('/img/social-sprite.png') no-repeat left top;
	opacity: 0.7;
}
.social-link:hover {
	opacity: 1;
}
.social-link-twitter {
	background-position: -47px top;
}
.social-link-pinterest {
	background-position: -94px top;
}

/* -------------------------
	Helpers
----------------------------*/
.no-top-border {
	border-top: none !important;
}
.zero-bottom-space {
	margin-bottom: 0;
}
.zero-top-space {
	margin-top: 0;
}
.extra-bottom-space {
	margin-bottom: 25px;
}
.text-center {
	text-align: center;
}
.ir {
	text-indent: -999em;
}
.border-wrap-box {
	border: 1px solid #ccc;
}
.border-wrap-box.light {
	background: #F9F9F9;
}
.border-wrap-box.no-side-borders {
	border-left: none;
	border-right: none;
}
hr {
	border-top: 1px solid #ccc;
	margin-top: 5px;
	margin-bottom: 15px;
}
.link-alt {
	color: #FF2626;
	text-decoration: underline;
}
.link-alt2 {
	color: #333;
}

/*!
 * jQuery UI Slider 1.10.2
 * http://jqueryui.com
 *
 * Copyright 2013 jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Slider#theming
 */
.ui-slider {
	position: relative;
	text-align: left;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	margin-top: -10px;
	z-index: 2;
	width: 29px;
	height: 29px;
	cursor: default;
	border-radius: 29px;
	box-shadow: 0 2px 6px rgba(0,0,0,.4);
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}
.ui-slider-horizontal {
	position: relative;
	height: 3px;
	width: 80%;
	background: #999;
}
.ui-slider-horizontal:before {
	content: '';
	display: block;
	position: absolute;
	z-index: 1;
	top: 10px;
	height: 3px;
	background: #333;
	width: 80%;
	margin: 0 5%;	
}
.ui-slider-handle:before {
	content: '';
	display: block;
	position: absolute;
	z-index: 1;
	top: 5px;
	left: 5px;
	height: 19px;
	width: 19px;
	border-radius: 19px;
	box-shadow: inset 0 0 3px rgba(0,0,0,.5);
}
.slider-text {
	width: 80%;
}
#sweet,
#spicy,
#savory {
	background: #eee;
	border-radius: 10px;
	box-shadow: inset 0 0 3px rgba(0,0,0,.1);
	display: block;
	padding: 10px;
	margin: 10px 0 0;
}
#spicy {

}
#savory {

}
.scale-wrap {
	position: relative;
}
.min-scale,
.max-scale {
	font-size: 10px;
	color: #999;
	position: absolute;
	top: 0;
	left: -15px;
}
.max-scale {
	left: 90%;
	margin-right: -15px;
}
#sweet.ui-slider-horizontal:before {
	background: #dfffbf;
	background: -moz-linear-gradient(left,  #dfffbf 0%, #85b200 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#dfffbf), color-stop(100%,#85b200));
	background: -webkit-linear-gradient(left,  #dfffbf 0%,#85b200 100%);
	background: -o-linear-gradient(left,  #dfffbf 0%,#85b200 100%);
	background: -ms-linear-gradient(left,  #dfffbf 0%,#85b200 100%);
	background: linear-gradient(to right,  #dfffbf 0%,#85b200 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfffbf', endColorstr='#85b200',GradientType=1 );
}
#spicy.ui-slider-horizontal:before {
	background: #dfffbf;
	background: -moz-linear-gradient(left,  #FFFFBF 0%, #FF2626 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#FFFFBF), color-stop(100%,#FF2626));
	background: -webkit-linear-gradient(left,  #FFFFBF 0%,#FF2626 100%);
	background: -o-linear-gradient(left,  #dfffbf 0%,#FF2626 100%);
	background: -ms-linear-gradient(left,  #FFFFBF 0%,#FF2626 100%);
	background: linear-gradient(to right,  #FFFFBF 0%,#FF2626 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFBF', endColorstr='#FF2626',GradientType=1 );
}
#savory.ui-slider-horizontal:before {
	background: #00A3D9;
	background: -moz-linear-gradient(left,  #BFFFFF 0%, #00A3D9 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#BFFFFF), color-stop(100%,#00A3D9));
	background: -webkit-linear-gradient(left,  #BFFFFF 0%,#00A3D9 100%);
	background: -o-linear-gradient(left,  #BFFFFF 0%,#00A3D9 100%);
	background: -ms-linear-gradient(left,  #BFFFFF 0%,#00A3D9 100%);
	background: linear-gradient(to right,  #BFFFFF 0%,#00A3D9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BFFFFF', endColorstr='#00A3D9',GradientType=1 );
}
#sweet .ui-slider-handle {
	background: #f0ffbf;
}
#spicy .ui-slider-handle {
	background: #ffe598;
}
#savory .ui-slider-handle {
	background: #99ffff;
}
#sweet .ui-slider-handle:before {
	background: #86b100;
}
#spicy .ui-slider-handle:before {
	background: #ff2928;
}
#savory .ui-slider-handle:before {
	background: #00a4da;
}
.ui-slider-horizontal .ui-slider-handle {
	top: 5px;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}