

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
	 
/* body */	 
body {
	background: #fdf7eb;
}

/* type */
h1, h2, h3, h4, h5, h6 {
	margin: 10px 0;
	font-weight: 300;
}
h1 {
	font-size: 24px;
	font-weight: 400;
}
h2 {
	font-size: 18px;
}
.alpha {
	margin-bottom: 1px;
}
.beta {
	font-weight: 400;
	font-size: 18px;
	text-transform: uppercase;
}
.delta {
	text-transform: uppercase;
	font-weight: 200;
	font-size: 13px;
	color: #666;
}

/* containers */
.container, 
.navbar-static-top .container, 
.navbar-fixed-top .container, 
.navbar-fixed-bottom .container {
	width: 96%;
	max-width: 1350px;
	padding: 0 2%;
}

/* Top branding and nav bar */
.navbar-inverse .navbar-inner {
	background: #ffe6cd;
	border: none;
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
	filter: none;
}
.navbar .brand {
	padding: 0;
	margin: 6px 0;
	height: 47px;
	width: 97px;
	background: url('/img/logo.png') no-repeat left top;
	color: transparent;
	text-indent: -999em;
}
.navbar .nav {

}
.navbar .nav>li>a {
	padding: 20px 15px 20px;
	border-left: 1px solid rgba(0,0,0,.12);
	box-shadow: inset 1px 0 0 #fff;
	color: #555;
}
.navbar .nav>li>a:hover,
.navbar .nav>li>a:focus {
	color: #555;
	background: #fbeede;
}
.navbar .nav .dropdown a {
	background: #fbeede;
	border-right: 1px solid rgba(0,0,0,.12);
}
.navbar-inverse .nav li.dropdown.open>.dropdown-toggle, .navbar-inverse .nav li.dropdown.active>.dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active>.dropdown-toggle {
	color: #555;
	background: #f8e2c7;
}
.navbar-form {
	padding: 10px 15px 0;	
}

/* Buttons */
.btn, .btn-primary {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #fd5631;
	background-image: -moz-linear-gradient(top,#ff7c37,#ff2422);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#ff7c37),to(#ff2422));
	background-image: -webkit-linear-gradient(top,#ff7c37,#ff2422);
	background-image: -o-linear-gradient(top,#ff7c37,#ff2422);
	background-image: linear-gradient(to bottom,#ff7c37,#ff2422);
	background-repeat: repeat-x;
	border-color: #fd5631;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0044cc',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn:hover, .btn-primary:hover,
.btn:focus, .btn-primary:focus,
.btn:active, .btn-primary:active,
.btn.active, .btn-primary.active,
.btn.disabled, .btn-primary.disabled,
.btn[disabled], .btn-primary[disabled] {
  color: #ffffff;
  background-color: #ff2422;
  *background-color: #ff2422;
}

/* Hero unit */
.hero-unit {
	background: #fefcf9;
}

/* Search Results Page */
.search-filters {
	margin-left: 0;
	padding-left: 30px;
	background: #fff;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;	
}
.search-filters-body {
}
.search-filters h2 {
	background: #fdf7eb;
	margin-top: 0;
	padding: 10px 30px;
	margin-left: -30px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

/* Recipe Module */
.recipe-module {
	-webkit-transition: all .2s ease-in-out;
	padding: 0;
	margin-bottom: 25px;
	background: #fff;
	box-shadow: 0 0 1px rgba(0,0,0,.8);
	display: inline-block;
}
.recipe-module:hover {
	box-shadow: 0 0 12px rgba(0,0,0,.6);
}
.span3.row-start {
	margin-left: 0;
}
.recipe-module p {
	padding: 0 15px;
	line-height: 16px;
}
.recipe-module-header {
	position: relative;
}
.recipe-module-img {
	background: #ccc;
	height: auto;
	max-width: 100%;	
}
.recipe-module-title {
	position: absolute;
	bottom: 0;
	padding: 10px 15px;
	margin: 0;
	color: #fff;
	background: rgba(0,0,0,.6);
	line-height: 24px;
}
.recipe-module-tags {
	margin-top: 10px;
}
.rating {
	background: url('/img/rating-stars.png') no-repeat left center;
	width: 64px;
	height: 13px;
	display: inline-block;
}
.source {
	float: right;
	color: #999;
	font-style: italic;
	font-size: 12px;
}

/* footer */
#site-footer {
	color: #fff;
	background: rgba(0,0,0,.7);
	position: fixed;
	width: 100%;
	bottom: 0;
}
#site-footer p {
	padding: 0;
	margin: 0;
	border-left: 1px solid #333;
	box-shadow: inset 1px 0 0 rgba(255,255,255,.1);
	display: inline-block;
}
#site-footer p .footer-menu {
	display: block;
	padding: 12px;
	margin: 0;
	color: #ddd;
	border-right: 1px solid #333;
	box-shadow: inset -1px 0 0 rgba(255,255,255,.1);
}
/* -------------------------
	Helpers
----------------------------*/
.no-top-border {
	border-top: none !important;
}

