

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
	 
/* body */ 
body {
	background: #fdf7eb;
	font-size: 100%;
}

/* type */
h1, h2, h3, h4, h5, h6 {
	margin: 10px 0;
	font-weight: 300;
}
h1 {
	font-size: 24px;
	font-weight: 400;
}
h2 {
	font-size: 18px;
}
.alpha {
	margin-bottom: 1px;
}
.beta {
	font-weight: 400;
	font-size: 18px;
	text-transform: uppercase;
}
.delta {
	text-transform: uppercase;
	font-weight: 200;
	font-size: 13px;
	color: #666;
	margin-bottom: 25px;
}
/* forms */
input[type="checkbox"],
input[type="radio"],
label,
.label-wrap {
	display: inline-block;
	vertical-align: top;
	line-height: 1.3;
	font-size: 15px;
}
/* containers */
.container, 
.navbar-static-top .container, 
.navbar-fixed-top .container, 
.navbar-fixed-bottom .container {
	width: 96%;
	max-width: 1350px;
	padding: 0 2%;
}

/* Top branding and nav bar */
.navbar-inverse .navbar-inner {
	background: rgba(255, 230, 205,.9);
	border: none;
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
	filter: none;
}
.navbar .brand {
	padding: 0;
	margin: 6px 0;
	height: 47px;
	width: 97px;
	background: url('/img/logo.png') no-repeat left top;
	color: transparent;
	text-indent: -999em;
}
.navbar .nav {

}
.navbar .nav>li>a {
	padding: 11px 15px 11px;
	border-left: 1px solid rgba(0,0,0,.12);
	box-shadow: inset 1px 0 0 #fff;
	color: #555;
}
.navbar .nav>li>a.nav-create {
	background: url('/img/icon-create.png') no-repeat center center;
	width: 27px;
	height: 37px;
}
.navbar .nav>li>a.nav-recipes {
	background: url('/img/icon-recipes.png') no-repeat center center;
	width: 45px;
	height: 38px;
}
.navbar .nav>li>a:hover,
.navbar .nav>li>a:focus {
	color: #555;
	background-color: #fbeede;
}
.navbar .nav .dropdown > a {
	background: #fbeede url('/img/arrow-down.png') no-repeat 95% center;
	padding-right: 30px;
	border-right: 1px solid rgba(0,0,0,.12);
}
.navbar .nav .dropdown .profile-avatar {
	margin-right: 10px;
}
.navbar-inverse .nav li.dropdown.open>.dropdown-toggle, .navbar-inverse .nav li.dropdown.active>.dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active>.dropdown-toggle {
	color: #555;
	background-color: #f8e2c7;
}
.navbar-form {
	padding: 7px 15px 0;
}
.navbar-form input {
	background-image: url('/img/icon-search.png');
	background-repeat: no-repeat;
	background-position: 98% center;
	padding: 7px;
}

/* Buttons */
.btn, .btn-primary {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #fd5631;
	background-image: -moz-linear-gradient(top,#ff7c37,#ff2422);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#ff7c37),to(#ff2422));
	background-image: -webkit-linear-gradient(top,#ff7c37,#ff2422);
	background-image: -o-linear-gradient(top,#ff7c37,#ff2422);
	background-image: linear-gradient(to bottom,#ff7c37,#ff2422);
	background-repeat: repeat-x;
	border-color: #fd5631;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0044cc',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn:hover, .btn-primary:hover,
.btn:focus, .btn-primary:focus,
.btn:active, .btn-primary:active,
.btn.active, .btn-primary.active,
.btn.disabled, .btn-primary.disabled,
.btn[disabled], .btn-primary[disabled] {
  color: #ffffff;
  background-color: #ff2422;
  *background-color: #ff2422;
}
.btn.add {
	font-size: 18px;
	font-weight: 500;
	padding: 10px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	padding-left: 45px;
	max-width: 200px;
	float: right;
	margin-top: -7px;
}
.btn.add span {
	background: url('/img/icon-recipes.png') no-repeat left center;
	background-size: 90%;
	width: 40px;
	height: 30px;
	display: inline-block;
	position: absolute;
	top: 5px;
	left:10px;
}

/* Hero unit */
.hero-unit {
	background: #fefcf9;
}

/* Front/home Page */
body.front {
	background: url('/img/home-background.jpg') no-repeat center bottom fixed;
	background-size: cover;
}

/* Search Results Page */
a span {
	color: #666;
}
.search-filters {
	margin-left: 0;
	padding-left: 30px;
	background: #fff;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;	
}
.search-filters-body {
}
.search-filters h2 {
	background: #fdf7eb;
	margin-top: 0;
	padding: 10px 30px;
	margin-left: -30px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.label-wrap {
	margin-top: 8px;
	display: block;
}
@media (min-width: 1260px) {
	.label-wrap {
		width: 45%;
		display: inline-block;
	}
}

/* Recipe Detail */
.recipe-detail {
	margin-top: 60px;
}
.recipe-detail-title {
	margin-top: 15px;
	font-size: 28px;
	font-weight: 900;
}
.recipe-detail-tags {
	font-style: italic;
}
.recipe-detail-img {
	width: 100%;
}
/* Social Share */
.share-wrap {
	display: inline-block;
	margin: 0 auto;
	padding: 30px 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: #fefcf9;
	width: 100%;
	text-align: center;
}
.share-wrap ul {
	margin: 0;
}
.share-wrap ul li {
	display: inline-block;
	margin: 0 6px;
}
.share-link {
	-webkit-transition: all .2s ease-in-out;
	display: block;
	width: 30px;
	height: 27px;
	background: url('/img/share-sprite.png') no-repeat left top;
	opacity: 0.8;
}
.share-link:hover {
	opacity: 1;
}
.share-link-facebook{
	width: 18px;
}
.share-link-twitter {
	background-position: -37px 1px;
}
.share-link-gplus {
	background-position: -88px top;
	width: 22px;
}
.share-link-pinterest {
	background-position: -136px top;
	width: 24px;
}
.share-link-mail {
	background-position: -176px 3px;
}

/* Recipe Module */
.recipe-module {
	-webkit-transition: all .2s ease-in-out;
	padding: 0;
	margin-bottom: 25px;
	background: #fff;
	box-shadow: 0 0 1px rgba(0,0,0,.8);
	display: inline-block;
}
.span3:nth-child(4n+5) {
	margin-left: 0;
	clear: left;
}
.recipe-module:hover {
	box-shadow: 0 0 12px rgba(0,0,0,.6);
}
.recipe-module p {
	padding: 0 15px;
	line-height: 16px;
}
.recipe-module-header {
	position: relative;
}
.recipe-module-img {
	background: #ccc;
	height: auto;
	max-width: 100%;	
}
.recipe-module-title {
	position: absolute;
	bottom: 0;
	padding: 10px 15px;
	margin: 0;
	color: #fff;
	background: rgba(0,0,0,.6);
	line-height: 24px;
}
.recipe-module-tags {
	margin-top: 10px;
}
.rating {
	background: url('/img/rating-stars.png') no-repeat left center;
	width: 64px;
	height: 13px;
	display: inline-block;
}
.source {
	float: right;
	color: #999;
	font-style: italic;
	font-size: 12px;
}
@media (max-width: 1080px) {
	.span3.recipe-module {
		width: 30%;
	}
	.span3:nth-child(3n+4) {
		margin-left: 0;
		clear: left;
	}
	.span3:nth-child(4n+5) {
		margin-left: 2.564102564102564%;
		clear: none;
	}
}
@media (max-width: 767px) {
	.span3.recipe-module {
		float: left;
		margin-left: 2.564102564102564%;
	}	
	.span3:nth-child(3n+4) {
		margin-left: 0;
		clear: left;
	}
	.span3:nth-child(4n+5) {
		margin-left: 2.564102564102564%;
		clear: none;
	}
}
@media (max-width: 600px) {
	.span3.recipe-module {
		float: left;
		width: 40%;
		margin-left: 2.564102564102564%;
	}
	.span3:nth-child(3n+4) {
		margin-left: 2.564102564102564%;
		clear: none;
	}
	.span3:nth-child(2n+3) {
		margin-left: 0;
		clear: left;
	}
}
@media (max-width: 500px) {
	body {
		font-size: 90%;
	}
	.span3.recipe-module {
		float: left;
		width: 47%;
		margin-left: 2.564102564102564%;
	}
	.span3:nth-child(3n+4) {
		margin-left: 2.564102564102564%;
		clear: none;
	}
	.span3:nth-child(2n+3) {
		margin-left: 0;
		clear: left;
	}
	.recipe-module-title {
		background: rgba(0,0,0,.6);
		line-height: 16px;
		font-size: 14px;
	}
}
/* footer */
#site-footer {
	color: #fff;
	background: rgba(0,0,0,.7);
	position: fixed;
	width: 100%;
	bottom: 0;
}
#site-footer p {
	padding: 0;
	margin: 0;
	border-left: 1px solid #333;
	box-shadow: inset 1px 0 0 rgba(255,255,255,.1);
	display: inline-block;
}
#site-footer p .footer-menu {
	display: block;
	padding: 12px;
	margin: 0;
	color: #ddd;
	border-right: 1px solid #333;
	box-shadow: inset -1px 0 0 rgba(255,255,255,.1);
	background: rgba(0,0,0,.2);
}
.social-links {
	display: inline-block;
	float: right;
	margin: 4px 0;
}
.social-links ul {
	margin-bottom: 0;
}
.social-links ul li {
	display: inline-block;
	margin-left: 3px;
}
.social-link {
	-webkit-transition: all .2s ease-in-out;
	display: block;
	width: 40px;
	height: 38px;
	background: url('/img/social-sprite.png') no-repeat left top;
	opacity: 0.7;
}
.social-link:hover {
	opacity: 1;
}
.social-link-twitter {
	background-position: -47px top;
}
.social-link-pinterest {
	background-position: -94px top;
}

/* -------------------------
	Helpers
----------------------------*/
.no-top-border {
	border-top: none !important;
}
.text-center {
	text-align: center;
}
.ir {
	text-indent: -999em;
}
